@import "./../base";

.msg1-div {
  border: $havij 3px solid;
  width: 100%;
  height: 11%;
  border-radius: 5px;
}
.msg2-div {
  border: $havij 3px solid;
  width: 100%;
  height: 22%;
  border-radius: 5px;
}
