.form__group {
  position: relative;
  border-radius: 12px;
  margin-top: 10px;
  height: 55px;
  background-color: $backgroud-color;
  width: 40%;
}
.form-field-name {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  // padding: 10px;
  border-radius: 12px;
  transition: border-color 0.2s;

  &:placeholder-shown ~ .form-label-name {
    font-size: $lblsize;
    // font-weight: bold;
    cursor: text;
    top: 15px;
  }
}
.form-label-name {
  position: absolute;
  left: 45%;
  //margin-left: -50px;
  top: 5%;
  margin-top: -5px;
  // lblدر وسط قرار بگیرد زمانی که سایز گوچک میشود
  //   @media (min-width: 300px) and (max-width :400px) {
  //     left: 85%;
  //     margin-left: -60px;
  //   }
  //   @media (min-width: 401px) and (max-width :500px) {
  //     left: 75%;
  //     margin-left: -60px;
  //   }
  color: $gray;
  display: block;
  transition: 0.2s;
}
.form-field-name:focus ~ label,
.form-field-name:not(:placeholder-shown) ~ label {
  @media (min-width: 300px) and (max-width: 349px) {
    transform: translate(50px, -20px);
  }
  @media (min-width: 350px) and (max-width: 399px) {
    transform: translate(55px, -20px);
  }
  @media (min-width: 400px) and (max-width: 449px) {
    transform: translate(68px, -20px);
  }
  @media (min-width: 450px) and (max-width: 499px) {
    transform: translate(78px, -20px);
  }
  @media (min-width: 500px) and (max-width: 767px) {
    transform: translate(95px, -20px);
  }
  @media (min-width: 768px) and (max-width: 991px) {
    transform: translate(135px, -20px);
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    transform: translate(185px, -20px);
  }
  @media (min-width: 1201px) {
    transform: translate(225px, -20px);
  }
}
.form-field-name:focus {
  ~ .form-label-name {
    position: absolute;
    top: 0;
    outline: none;
    pointer-events: none;
    font-size: 15px;
    display: block;
    transition: 0.2s;
    //font-size: 2rem;
    @media (min-width: 300px) and (max-width: 349px) {
      transform: translate(50px, -17px);
    }
    @media (min-width: 350px) and (max-width: 399px) {
      transform: translate(55px, -17px);
    }
    @media (min-width: 400px) and (max-width: 449px) {
      transform: translate(68px, -17px);
    }
    @media (min-width: 450px) and (max-width: 499px) {
      transform: translate(78px, -17px);
    }
    @media (min-width: 500px) and (max-width: 767px) {
      transform: translate(95px, -17px);
    }
    @media (min-width: 768px) and (max-width: 991px) {
      transform: translate(135px, -17px);
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      transform: translate(185px, -17px);
    }
    @media (min-width: 1201px) {
      transform: translate(225px, -17px);
    }
    color: $havij;
    //font-weight: 700;
  }
  &::placeholder {
    color: $havij;
  }

  padding-bottom: 6px;
  //font-weight: 700;
  border-width: 2px;
  border: $havij 2px solid;
  background-color: $backgroud-color;
}
/* reset input */
.form-field-name {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
