.form__group {
  position: relative;
  border-radius: 12px;
  margin-top: 10px;
  height: 55px;
  background-color: $backgroud-color;
  width: 100%;
}

.form-field-Rpassword {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 12px;
  transition: border-color 0.2s;

  &::placeholder {
    font-size: 30px;
    display: inline-block !important;
    text-align: right;
    padding: 10px;
  }

  &:placeholder-shown ~ .form-label-Rpassword {
    font-size: 1.3rem;
    cursor: text;
    top: 15px;
  }
}
.form-label-Rpassword {
  position: absolute;
  left: 40%;
  top: 5%;
  margin-top: -5px;
  @media (min-width: 300px) and (max-width: 349px) {
    left: 35%;
  }
  @media (min-width: 350px) and (max-width: 400px) {
    left: 35%;
  }
  color: $gray;
  text-align: center;
  display: block;
  transition: 0.2s;
  color: $gray;
}

.form-field-Rpassword:focus ~ label,
.form-field-Rpassword:not(:placeholder-shown) ~ label {
  @media (min-width: 300px) and (max-width: 349px) {
    transform: translate(100px, -20px);
  }
  @media (min-width: 350px) and (max-width: 399px) {
    transform: translate(130px, -20px);
  }
  @media (min-width: 400px) and (max-width: 449px) {
    transform: translate(140px, -20px);
  }
  @media (min-width: 450px) and (max-width: 499px) {
    transform: translate(165px, -20px);
  }
  @media (min-width: 500px) and (max-width: 767px) {
    transform: translate(205px, -20px);
  }
  @media (min-width: 768px) and (max-width: 991px) {
    transform: translate(230px, -20px);
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    transform: translate(190px, -20px);
  }
  @media (min-width: 1201px) {
    transform: translate(250px, -20px);
  }
}

.form-field-Rpassword:focus {
  ~ .form-label-Rpassword {
    position: absolute;
    top: 0;
    outline: none;
    pointer-events: none;
    font-size: 15px;
    display: block;
    transition: 0.2s;
    @media (min-width: 300px) and (max-width: 349px) {
      transform: translate(100px, -18px);
    }
    @media (min-width: 350px) and (max-width: 399px) {
      transform: translate(130px, -18px);
    }
    @media (min-width: 400px) and (max-width: 449px) {
      transform: translate(140px, -18px);
    }
    @media (min-width: 450px) and (max-width: 499px) {
      transform: translate(165px, -18px);
    }
    @media (min-width: 500px) and (max-width: 767px) {
      transform: translate(205px, -18px);
    }
    @media (min-width: 768px) and (max-width: 991px) {
      transform: translate(230px, -18px);
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      transform: translate(190px, -18px);
    }
    @media (min-width: 1201px) {
      transform: translate(250px, -18px);
    }
    color: $havij;
  }
  &::placeholder {
    color: $havij;
  }

  padding-bottom: 6px;
  border: $havij 2px solid;
}

/* reset input */
.form-field-Rpassword {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
